$version-color: #444;
$header_color: rgb(194, 164, 107);

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageWelcome {
		a {
			color: #dee096;
		}

		h1 {
			font-size: 1.6rem;
			margin-bottom: .5rem;
		}

		h2 {
			font-size: 1.3rem;
			color: #999;
			font-weight: normal;
			background-color: #222;
			padding: .3rem;
			border-radius: 5px;
		}

		li {
			margin-bottom: .7rem;
		}

		li.sub {
			color: lightgreen;
			margin: 0;
		}

		.warn {
			color: tomato;
		}

		.version {
			color: $version-color;
			border-top: 1px solid $version-color;
			padding-top: 1rem;
			margin-top: 2rem;
			width: 10rem;
		}
	}

	.pageInfo {
		.content {
			margin: 0 auto;
			width: 90%;
			display: grid;
			gap: 3rem;
			grid-template-columns: 1fr 1fr;

			h2 {
				color: $header_color;
			}

			.jobs {
				.job {
					background-color: #222;
					padding: .5rem;
					margin-bottom: .5rem;
				}
			}

			.skills {
				.skill {
					margin-bottom: 1rem;

					.name {
						color: orange;
					}
				}
			}
		}
	}
}